---
layout: default
title: Previous Events
pagination: 
  enabled: true
  category: previous-events
---

<div class="container" id = "upcoming-events">
	<h2 class="editable">Past Events</h2>
	<div class="seconds">
		{% for post in paginator.posts %}
		    <div class = "wrapper">
		        <div>
				    <img src="{{post.featured_image}}"/>
				</div>
				<div class = "post-content">
					<h3>{{ post.title }}</h3>
					<hr>
			    	<h5 class="date">{{post.date| date:"%A %b %d, %Y"}}</h5>
					{% if post.content contains "<!-- more -->" %}
						{{post.content | split:"<!-- more -->" | first}}
					  	<a href="{{ post.url }}"> Read More </a>
				  	{% else %}
						{{ post.content }}
				  	{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class = "container" style = "text-align: center">
	{% if paginator.total_pages > 1 %}
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class = "buttonlink">Older</a>
		{% endif %}
		{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class = "buttonlink">Newer</a>
		{% endif %}
	{% endif %}
</div>

