---
layout: default
title: Stanford Christian Students
permalink: 
---

	<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
	<img src="{{ site.baseurl }}/images/Main1.jpg" style="width:100%">
</div>


<div class="container"  id = "about-us">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/about.jpg" alt="about" />
		</div>
		<div>
			<h2 class="about">ABOUT US</h2>
			<p class="editable">Stanford Christian Students is a registered Stanford student organization. We are believers in Christ from diverse backgrounds who love our dear Lord Jesus and hold the Christian faith which is common to all believers.</p>
		</div>
	</div>
</div>

<div class="container">
	<h2 class="editable" style="text-align: center;">What we do</h2>
	<p class="editable" style ="text-align: center;">Acts 2:46 - "And day by day, continuing steadfastly with one accord in the temple and breaking bread from house to house, they partook of their food with exultation and simplicity of heart"</p>
	<ul class="thirds">
		<li>
			<img src="{{ site.baseurl }}/images/bible-study.jpg" alt="Bible-Study"/>
			<h3 class="editable">BIBLE STUDIES</h3>
			<p class="editable">Meet in a small group to read and enjoy the Word of God. Times are flexible to meet your schedule. </p>
		</li>

		<li>
		    <img src="{{ site.baseurl }}/images/small-group.jpg" alt="Small-Group"/>
			<h3 class="editable">SMALL GROUP GATHERINGS</h3>
			<p class="editable">A home away from home! Come enjoy open homes, open hearts, open Bibles and open fridges in the Palo Alto community.</p>
		</li>
		<li>
		    <img src="{{ site.baseurl }}/images/retreat.jpg" alt="Retreat"/>
			<h3 class="editable">FALL/SPRING RETREATS</h3>
			<p class="editable">Every semester we set aside a weekend to unwind in the beautiful woods in Sonoma, fellowship with one another and be refreshed by the Word of God.</p>
		</li>
	</ul>{
</div>
 {% assign sorted_posts = site.categories.upcoming-events | sort:"event_date"%}
 {% assign repeating_posts = site.categories.repeating-events | sort: "event_date"%}
<div class="container" id = "upcoming-events">
	<h2 class="editable">Upcoming Events</h2>
	<div class="upcoming">
		{% for post in sorted_posts %}
		    <div class="columns">
		        <div>
				    <img src="{{post.featured_image}}"/>
				</div>
				<div>
					<h3>{{ post.title }}</h3>
					<hr>
					<h4 class="date"><i class="far fa-calendar-alt" ></i> {{post.event_date| date:"%A %b %d, %Y"}}</h4>
					<h4 class ="time"><i class="far fa-clock"></i></i> {{post.start_time| date:"%I:%M %p"}} - {{post.end_time| date:"%I:%M %p"}}</h4>
					<h4 class="location"><i class="fas fa-map-marker-alt"></i> {{ post.location}}</h4>
					<div class="calcol">
					<div class="tab">
						<input type="checkbox" id="chck{{ forloop.index }}">
						<label class="tab-label" for="chck{{ forloop.index }}">Add to Calendar</label>
						<div class="tab-content" id = "google{{forloop.index}}">
						</div>
						<div class="tab-content" id = "yahoo{{forloop.index}}">
						</div>
						<div class="tab-content" id = "outlook{{forloop.index}}">
						</div>
						<div class="tab-content" id = "ical{{forloop.index}}">
						</div>
					  </div>
					  </div>
					{{ post.content }}
				</div>
			</div>
			<script>
					var  event = {
						// Event title
						title: '{{post.title}}',
						// Event start date
						start: new Date('{{post.event_date|date:"%b %d, %Y"}} {{post.start_time|date: "%k:%M"}}'),
						// Event end date
						end: new Date('{{post.event_date|date:"%b %d, %Y"}} {{post.end_time|date: "%k:%M"}}'),     
						// Event Address
						address:'{{post.location}}',
						// Event Description
						description: '{{post.short_description}}',
					};
					document.getElementById("google{{forloop.index}}").innerHTML = createCalendar(event,'google');
					document.getElementById("yahoo{{forloop.index}}").innerHTML = createCalendar(event,'yahoo');
					document.getElementById("outlook{{forloop.index}}").innerHTML = createCalendar(event,'outlook');
					document.getElementById("ical{{forloop.index}}").innerHTML = createCalendar(event,'ical');
				</script>
		{% endfor %}
		{% for post in repeating_posts %}
		    <div class="columns">
		        <div>
				    <img src="{{post.featured_image}}"/>
				</div>
				<div>
					<h3>{{ post.title }}</h3>
					<hr>
					<h4 class="date"><i class="far fa-calendar-alt" ></i> {{post.event_date}}</h4>
					<h4 class ="time"><i class="far fa-clock"></i></i> {{post.start_time| date:"%I:%M %p"}} - {{post.end_time| date:"%I:%M %p"}}</h4>
					<h4 class="location"><i class="fas fa-map-marker-alt"></i> {{ post.location}}</h4>
					<div class="calcol">
					<div class="tab">
						<input type="checkbox" id="chck{{ forloop.index }}">
						<label class="tab-label" for="chck{{ forloop.index }}">Add to Calendar</label>
						<div class="tab-content" id = "google{{forloop.index}}">
						</div>
						<div class="tab-content" id = "yahoo{{forloop.index}}">
						</div>
						<div class="tab-content" id = "outlook{{forloop.index}}">
						</div>
						<div class="tab-content" id = "ical{{forloop.index}}">
						</div>
					  </div>
					  </div>
					{{ post.content }}
				</div>
			</div>
			<script>
					var  event = {
						// Event title
						title: '{{post.title}}',
						// Event start date
						start: new Date('{{post.event_date|date:"%b %d, %Y"}} {{post.start_time|date: "%k:%M"}}'),
						// Event end date
						end: new Date('{{post.event_date|date:"%b %d, %Y"}} {{post.end_time|date: "%k:%M"}}'),     
						// Event Address
						address:'{{post.location}}',
						// Event Description
						description: '{{post.short_description}}',
					};
					document.getElementById("google{{forloop.index}}").innerHTML = createCalendar(event,'google');
					document.getElementById("yahoo{{forloop.index}}").innerHTML = createCalendar(event,'yahoo');
					document.getElementById("outlook{{forloop.index}}").innerHTML = createCalendar(event,'outlook');
					document.getElementById("ical{{forloop.index}}").innerHTML = createCalendar(event,'ical');
				</script>
		{% endfor %}
	</div>
</div>


