html, body {
	padding: 0;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	min-width: 380px;
}

img {
	max-width: 100%;
}

hr {
	height:1px;
	border: 0;
	background-color: #bbb;
}

h1 {
	padding: 0;
	font-size: 3em;
}

h2 {
	font-size: 2.3em;
	margin: 0 0 30px 0;
	text-align: center;
}

h3 {
	font-size: 1.8em;
	color: darkred;
	margin: 20px 0 20px 0;
}

h4 {
	font-size: 1.5em;
	margin: 20px 0 20px 0;
}

p {
	font-size: 1.2em;
	color: black;
}

a {
    color: black;
    text-decoration: none;
}
a:hover{
     color: darkred;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1.3em;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.button a {
	display: inline-block;
	text-decoration: none;
	border-radius: 30px;
	transition: 200ms ease-in background;

	&:hover {
		background: darken($brand-color, 5%);
	}
}