.container {
	width: 100%;
	margin: auto auto;
	position: relative;
	padding: 15px;
	box-sizing: border-box;
}

header {

	@media #{$desktop} {
		.container {
			display: flex;
		}

		.column {
			flex: 1;

			img {
				max-width: none;
				width: 120%;
			}

			&:first-child {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 50px;
			}
		}
	}

	img {
		margin: 0 auto 0 auto;
		display: block;
		max-width: 100%;
	}
}

.logo {
  display: block;
  height: 150px;
}

.navbar {
  font-size: 1.2em;
  background: white;
  padding-bottom: 15px;
}

.main-nav {
  list-style-type: none;
  display: none;
  padding: 0px;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  padding-bottom: 25px;
}

.navbar-toggle {
  position: absolute;
  top: 103px;
  right: 20px;
  cursor: pointer;
  font-size: 36px;
}

.nav-links {
	color: $secondary;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.5em;
  }

.active {
  display: block;
}

@media #{$desktop} {
  .navbar {
    display: flex;
    padding-bottom: 0;
    align-items: baseline;
    padding: 15px 15px 0px 15px;
    
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
	margin: 0px;
  }

  .main-nav li {
    margin: 10px 0px;
	flex: 1 0
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: $primary;
  }
}
section {
	padding: 60px 0;
}

.fourths {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	@media #{$desktop} {
	    flex-direction:row;  
	}
	padding: 0;
	list-style: none;

	li {
		box-sizing: border-box;
		margin: 0px 0px;
		width: 100%;
		border: 1px solid #dfdfdf;
		border-radius: 10px;
		padding: 0px 15px 15px 15px;
        flex: 1 0 21%; 
        margin: 5px;

		text-align: center;

		.image {
			display: inline-block;
			line-height: 0;
			background: white;
			margin-top: -40px;
			padding: 10px;
			box-shadow: 2px 7px 39px 9px #f7f7f7;
			border-radius: 50px;
		}

		p {
			font-size: 1.1rem;
		}

		svg {
			fill: $primary;
			padding: 5px;
		}
	}
}
.thirds{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	@media #{$desktop} {
	    flex-direction:row;  
	}
	padding: 0;
	list-style: none;

	li {
		box-sizing: border-box;
		margin: 0px 0px;
		width: 100%;
		border: 1px solid #dfdfdf;
		border-radius: 10px;
		padding: 15px;
        flex: 1 0 31%; 
        margin: 5px;

		text-align: center;

		img {
			display: inline-block;
			background: white;
			padding: 10px;
			border-radius: 50px;
		}
        .post-content {
			padding: 20px;
		}

	}
}
.seconds{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	@media #{$desktop} {
	    flex-direction:row;  
	}
	padding: 0;
	list-style: none;

	li {
		box-sizing: border-box;
		margin: 0px 0px;
		width: 100%;
		border: 1px solid #dfdfdf;
		border-radius: 10px;
		padding: 15px;
        flex: 1 0 47%; 
        margin: 5px;

		text-align: center;

		img {
			display: inline-block;
			padding: 10px;
			border-radius: 5px;
			max-height: 500px;
		}
        .post-content {
			padding: 20px;
		}
	}
}

.upcoming{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0;
	list-style: none;

	.columns{
		box-sizing: border-box;
		width: 100%;
		border: 1px solid #dfdfdf;
		border-radius: 10px;
		padding: 15px;
        margin: 5px;
		text-align: left;
		@media #{$desktop} {
    		display: flex;
    		align-items: center;
    		& > div {
    			flex: 1;
    		}
		}
		img {
			display: inline-block;
			padding: 10px;
			border-radius: 50px;
		}
	}
}

.newsletter {
	padding: 100px 0;
}

footer {
	background: $secondary;
	text-align: center;
	padding: 5px 0;

	&, a {
		color: White;
	}

	a:hover {
		color: $primary;

		svg {
			fill: $primary;
		}
	}

	p {
		margin: 0;
		padding: 0;
	}

	p, address {
		font-size: .9em;
	}

	svg {
		fill: #8e8e8e;
		height: 20px;
		position: relative;
		top: 4px;
	}

	a {
		text-decoration: none;

		svg:hover {
			fill: #fff;
		}
	}

	.container {
		@media #{$desktop} {
			display: flex;
			text-align: center;
		}
		div {
			@media #{$desktop} {
				width: 33%;
				margin: 0;
			}
			margin: 20px 0;
			box-sizing: content-box;
			padding: 0 25px;

		}
	}
}

.copyright {
	padding: 5px 0;
	margin: 0;
	background: $secondary;
	text-align: center;
	font-size: .8em;
	color: white;
	&:hover {
		color: $primary;
	}
}

.posts {
	display: flex;
	flex-wrap: wrap;
	.post {
		border: 1px solid #eee;
		margin: 0 0 50px 0;
		background: #fff;
		border-radius: 3px;
		width: 100%;
		@media #{$desktop} {
            flex: 0 50%;
			margin: 0 15px;
		}
		.image {
			height: 200px;
			background-position: center;
			background-size: cover;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}

		.post-content {
			padding: 20px;
		}

		.date {
			color: #ccc;
			font-weight: bold;
			font-size: 1.1rem;
		}

		h3 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1.1rem;
		}
	}
}

.post-title {

	h3 {
		margin: 0;
	}

	.date {
		padding: 0;
		margin: 0;
		font-size: .8em;
		color: #888;
	}
}

.columns {
	padding: 0 15px; 
	img{
		padding-bottom: 15px;
	}
	h2{
		text-align: center
	}
	@media #{$desktop} {
		display: flex;
		margin: 0 -30px;
		align-items: center;
		& > div {
			flex: 1;
			padding: 0 30px;
		}
		h2{
			text-align: left
		}
	}
}

.darker {
	background:$tiertiary;
	width: 100%;
	margin: auto auto;
	position: relative;
	padding: 15px;
	box-sizing: border-box;
	color: white;
	p{
		color: white;
	}
}


* {box-sizing:border-box}

.video-container{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video-frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  overflow:hidden;
}

.calcol {
	display: flex;
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  
  .tabs {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  }
.tab {
	width: 100%;
	color: white;
	overflow: hidden;
	&-label {
	  display: flex;
	  justify-content: space-between;
	  padding: 1em;
	  background: $primary;
	  font-weight: bold;
	  cursor: pointer;
	  /* Icon */
	  &:hover {
		background: darken($primary, 10%);
	  }
	  &::after {
		content: "\276F";
		width: 1em;
		height: 1em;
		text-align: center;
		transition: all .35s;
	  }
	}
	&-content {
	  max-height: 0;
	  padding: 0 1em;
	  color: $primary;
	  background: white;
	  transition: all .35s;
	}
	&-close {
	  display: flex;
	  justify-content: flex-end;
	  padding: 1em;
	  font-size: 0.75em;
	  background: $primary;
	  cursor: pointer;
	  &:hover {
		background: darken($primary, 10%);
	  }
	}
}
input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
input:checked {
	+ .tab-label {
	  background: darken($primary, 10%);
	  &::after {
		transform: rotate(90deg);
	  }
	}
	~ .tab-content {
	  max-height: 100vh;
	  padding: 1em;
	}
}
}